.my-app {
    padding: 120px 0 0;
    text-align: center;
    margin: 50px auto;
    position: relative;
}

.search {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    min-height: 12em;
    align-items: center;
}

.searchRecommend,
.searchRecommend-vis {
    margin-bottom: 5rem;
    max-height: 8rem;
    width: 15rem;
    border: 2px solid rgb(6, 165, 197);
    border-top: 0px solid black;
    overflow: hidden;
    box-shadow: 3px 2px 4px 1px rgb(81, 102, 100);
    border-radius: 0px 0px 10px 10px;
}

.searchRecommend .names,
.searchRecommend-vis .names {
    color: blue;
    padding: 3px 8px;
}

.searchRecommend-vis .names:hover {
    background-color: #41567e;
    box-shadow: 1px 1px black;
}

.Mediciens .information {
    text-align: center;
}

.Mediciens .drugs {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.inp-none {
    width: 15rem;
    border-radius: 20px;
    border: 2px solid rgb(6, 165, 197);
    padding: 3px 8px;
    outline: none;
}

.inp-vis {
    outline: none;
    width: 15rem;
    border-radius: 0;
    border: 2px solid rgb(6, 165, 197);
    box-shadow: 3px 2px 4px 1px rgb(81, 102, 100);
    border-bottom: 0px solid black;
}

button {
    cursor: pointer;
}

/* Dark mode styles */
.dark .inp-none,
.dark .inp-vis {
    border-color: rgba(209, 213, 219);
    background-color: rgba(55, 65, 81);
    color: rgba(229, 231, 235);
}

.dark button {
    background-color: rgba(96, 165, 250);
    color: rgba(31, 41, 55);
}

.dark button:hover {
    background-color: rgba(96, 165, 250, 0.8);
}
